In [1]:
import pandas as pd
import numpy as np
from scipy.stats import chi2_contingency, chisquare

In [2]:
dating_df = pd.read_csv('dating_data.csv')
dating_df.shape

(14514, 4)

In [3]:
dating_df.head()

   user_id_1  user_id_2  group  is_match
0         79         91      1         1
1        716        353      1         1
2        423        677      0         0
3        658        165      1         1
4        969        155      0         1

In [4]:
dating_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14514 entries, 0 to 14513
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   user_id_1  14514 non-null  int64
 1   user_id_2  14514 non-null  int64
 2   group      14514 non-null  int64
 3   is_match   14514 non-null  int64
dtypes: int64(4)
memory usage: 453.7 KB

In [6]:
dating_df.group.value_counts()

1    9722
0    4792
Name: group, dtype: int64

<b>Основная</b> метрика - количество мэтчей (за определенный промежуток времени), ждем рост

Для <b>основной</b> метрики:

$H_0$: Количество мэтчей на тесте не выросло статзначимо по сравнению с контролем

$H_1$: Количество мэтчей выросло статзначимо

Возьмем уровень значимости 0.05

Будем использовать критерий <b>Хи-квадрат</b>, т.к. имеем категориальные данные (тест - группа; мэтч - не мэтч)

In [7]:
table = pd.crosstab(dating_df.group, dating_df.is_match)
table

is_match     0     1
group
0         3858   934
1         5813  3909

In [8]:
# test = [5813, 3909]
# control = [3858, 934]

In [9]:
chi2_contingency(table)
# chi2_contingency([test, control])

(618.6889141576198,
 1.4418299163662586e-136,
 1,
 array([[3193.01584677, 1598.98415323],
        [6477.98415323, 3244.01584677]]))

Как видно P-value < 0.05, следовательно можем отклонять нулевую гипотезу. То есть на основе критерия Хи-квадрат можно вводить новый алгоритм.